/* ========================= */
/* ==      CONTAINER      == */
/* ========================= */
/* COLOR */
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
.yellow{
    background-color: yellow;
}

/* WIDTH */
.w-1{
    width: 10%;
}
.w-2{
    width: 20%;
}
.w-3{
    width: 30%;
}
.w-4{
    width: 40%;
}
.w-5{
    width: 50%;
}
.w-6{
    width: 60%;
}
.w-7{
    width: 70%;
}
.w-8{
    width: 80%;
}
.w-9{
    width: 90%;
}
.w-10{
    width: 100%;
}
/* HEIGHT */
.h-1{
    height: 10%;
}
.h-2{
    height: 20%;
}
.h-3{
    height: 30%;
}
.h-4{
    height: 40%;
}
.h-5{
    height: 50%;
}
.h-6{
    height: 60%;
}
.h-7{
    height: 70%;
}
.h-8{
    height: 80%;
}
.h-9{
    height: 90%;
}
.h-10{
    height: 100%;
}
/* DISPLAY FLEXBOX */
.flex{
    display: flex;
}
.flex-inline{
    display: inline-flex;
}

/* FLEX-DIRECTION */
.flex-direction-r{
    flex-direction: row;
}
.flex-direction-rr{
    flex-direction: row-reverse;
}
.flex-direction-c{
    flex-direction: column;
}
.flex-direction-cr{
    flex-direction: column-reverse;
}

/* FLEX WRAP */
.flex-wrap-n{
    flex-wrap: nowrap;
}
.flex-wrap-w{
    flex-wrap: wrap;
}
.flex-wrap-wr{
    flex-wrap: wrap-reverse;
}

/* FLEX FLOW */
    /* row-direction */
.flex-flow-rn{
    flex-flow: row nowrap;
}
.flex-flow-rw{
    flex-flow: row wrap;
}
.flex-flow-rwr{
    flex-flow: row wrap-reverse;
}
    /* row-reverse-direction */
.flex-flow-rrn{
    flex-flow: row-reverse nowrap;
}
.flex-flow-rrw{
    flex-flow: row-reverse wrap;
}
.flex-flow-rrwr{
    flex-flow: row-reverse wrap-reverse;
}
    /* column-direction */
.flex-flow-cn{
    flex-flow: column nowrap;
}
.flex-flow-cw{
    flex-flow: column wrap;
}
.flex-flow-cwr{
    flex-flow: column wrap-reverse;
}
    /* column-reverse-direction */
.flex-flow-crn{
    flex-flow: column-reverse nowrap;
}
.flex-flow-crw{
    flex-flow: column-reverse wrap;
}
.flex-flow-crwr{
    flex-flow: column-reverse wrap-reverse;
}

/* JUSTIFY CONTENT */
.justify-content, .justify-content-start{
    justify-content: flex-start;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-end{
    justify-content: flex-end;
}
.justify-content-sb{
    justify-content: space-between;
}
.justify-content-sa{
    justify-content: space-around;
}
.justify-content-se{
    justify-content: space-evenly;
}

/* ALIGN CONTENT */
.align-content, .align-content-start{
    align-content: flex-start;
}
.align-content-center{
    align-content: center;
}
.align-content-end{
    align-content: flex-end;
}
.align-content-sb{
    align-content: space-between;
}
.align-content-sa{
    align-content: space-around;
}
.align-content-stretch{
    align-content: stretch;
}

/* ALIGN ITEMS */
.align-items, .align-items-start{
    align-items: flex-start;
}
.align-items-center{
    align-items: center;
}
.align-items-end{
    align-items: flex-end;
}
.align-items-baseline{
    align-items: baseline;
}
.align-items-stretch{
    align-items: stretch;
}

/* ========================= */
/* ==        ITEMS        == */
/* ========================= */
/* ORDER */
.order-1{
    order: 1;
}
.order-2{
    order: 2;
}
.order-3{
    order: 3;
}
.order-4{
    order: 4;
}
.order-5{
    order: 5;
}
.order-6{
    order: 6;
}
.order-7{
    order: 7;
}
.order-8{
    order: 8;
}
.order-9{
    order: 9;
}
.order-10{
    order: 10;
}
/* GROW */
.grow-1{
    flex-grow: 1;
}
.grow-2{
    flex-grow: 2;
}
.grow-3{
    flex-grow: 3;
}
.grow-4{
    flex-grow: 4;
}
.grow-5{
    flex-grow: 5;
}
.grow-6{
    flex-grow: 6;
}
.grow-7{
    flex-grow: 7;
}
.grow-8{
    flex-grow: 8;
}
.grow-9{
    flex-grow: 9;
}
.grow-10{
    flex-grow: 10;
}
/* SHRINK */
.shrink-1{
    flex-shrink: 1;
}
.shrink-2{
    flex-shrink: 2;
}
.shrink-3{
    flex-shrink: 3;
}
.shrink-4{
    flex-shrink: 4;
}
.shrink-5{
    flex-shrink: 5;
}
.shrink-6{
    flex-shrink: 6;
}
.shrink-7{
    flex-shrink: 7;
}
.shrink-8{
    flex-shrink: 8;
}
.shrink-9{
    flex-shrink: 9;
}
.shrink-10{
    flex-shrink: 10;
}
/* GROW */
.basis-1{
    flex-basis: 10%;
}
.basis-2{
    flex-basis: 20%;
}
.basis-3{
    flex-basis: 30%;
}
.basis-4{
    flex-basis: 40%;
}
.basis-5{
    flex-basis: 50%;
}
.basis-6{
    flex-basis: 60%;
}
.basis-7{
    flex-basis: 70%;
}
.basis-8{
    flex-basis: 80%;
}
.basis-9{
    flex-basis: 90%;
}
.basis-10{
    flex-basis: 100%;
}
/* flex */
/* GROW */
.flex-1{
    flex: 1 1 10%;
}
.flex-2{
    flex: 2 2 20%;
}
.flex-3{
    flex: 3 3 30%;
}
.flex-4{
    flex: 4 4 40%;
}
.flex-5{
    flex: 5 5 50%;
}
.flex-6{
    flex: 6 6 60%;
}
.flex-7{
    flex: 7 7 70%;
}
.flex-8{
    flex: 8 8 80%;
}
.flex-9{
    flex: 9 9 90%;
}
.flex-10{
    flex: 10 10 100%;
}
/* ALIGN SELF */
.align-self, .align-self-start{
    align-self: flex-start;
}
.align-self-center{
    align-self: center;
}
.align-self-end{
    align-self: flex-end;
}
.align-self-stretch{
    align-self: stretch;
}